Week 3
===

## Subsetting and Sorting

### Subsetting - quick review

In [1]:
set.seed(13435)
X <- data.frame("var1"=sample(1:5),"var2"=sample(6:10),"var3"=sample(11:15))
X <- X[sample(1:5),]; X$var2[c(1,3)] = NA
X

  var1 var2 var3
1 2    NA   15
4 1    10   11
2 3    NA   12
3 5     6   14
5 4     9   13

In [2]:
X[,1] # Subsetting a specific column index

[1] 2 1 3 5 4

In [3]:
X[,"var1"] # Subsetting a column by variable name

[1] 2 1 3 5 4

In [4]:
X[1:2,"var2"] # Subsetting the first two rows of x from 1:2
              # and from column "var2"

[1] NA 10

### Logicals ANDs and ORs

In [5]:
X[(X$var1 <= 3 & X$var3 > 11),] # Subset all the rows of x where var1 <= 3
                                # AND var3 > 11

  var1 var2 var3
1 2    NA   15
2 3    NA   12

In [6]:
X[(X$var1 <= 3 | X$var3 > 15),] # Subset all the rows of x where var1 <= 3
                                # OR var3 > 15

  var1 var2 var3
1 2    NA   15
4 1    10   11
2 3    NA   12

### Dealing with Missing Values
Subsetting on NAs will not produce the actual rows. In order to get around this, we use the <b>which</b> command, which will return the indices where var2 > 8 in this case. When it returns the indices where var2 > 8, it doesn't return the NAs, and so you can subset the data set - dealing with the NAs you might have.

In [7]:
X[which(X$var2 > 8),]

  var1 var2 var3
4 1    10   11
5 4     9   13

### Sorting

In [8]:
sort(X$var1) # Sorting var1 in increasing order

[1] 1 2 3 4 5

In [9]:
sort(X$var1, decreasing=TRUE) # Sorting in decreasing order

[1] 5 4 3 2 1

In [10]:
sort(X$var2, na.last=TRUE) # Sort and move all NA values to the end

[1]  6  9 10 NA NA

### Ordering

In [11]:
X[order(X$var1),] # Ordering the rows of the dataframe by var1 
                  # in increasing order

  var1 var2 var3
4 1    10   11
1 2    NA   15
2 3    NA   12
5 4     9   13
3 5     6   14

In [12]:
X[order(X$var1, X$var3),] # Ordering the rows with multiple variables
                          # var1 then var3

  var1 var2 var3
4 1    10   11
1 2    NA   15
2 3    NA   12
5 4     9   13
3 5     6   14

### Ordering with plyr

In [13]:
library(plyr)
arrange(X, var1) # Ordering by var1

  var1 var2 var3
1 1    10   11
2 2    NA   15
3 3    NA   12
4 4     9   13
5 5     6   14

In [14]:
arrange(X, desc(var1)) # Ordering in descending order

  var1 var2 var3
1 5     6   14
2 4     9   13
3 3    NA   12
4 2    NA   15
5 1    10   11

### Adding rows and columns

In [15]:
X$var4 <- rnorm(5) # Adding a new column var4 with a random vector
X                  # of length 5

  var1 var2 var3 var4
1 2    NA   15    0.1875960
4 1    10   11    1.7869764
2 3    NA   12    0.4966936
3 5     6   14    0.0631830
5 4     9   13   -0.5361329

In [16]:
Y <- cbind(X, rnorm(5)) # Column bind X and rnorm(5) into a new dataframe
Y                       # called Y

  var1 var2 var3 var4       rnorm(5)
1 2    NA   15    0.1875960  0.62578490
4 1    10   11    1.7869764 -2.45083750
2 3    NA   12    0.4966936  0.08909424
3 5     6   14    0.0631830  0.47838570
5 4     9   13   -0.5361329  1.00053336

## Summarizing Data

### Getting the data from the web

In [17]:
fileUrl <- "https://data.baltimorecity.gov/api/views/k5ry-ef3g/rows.csv?accessType=DOWNLOAD"
download.file(fileUrl,destfile="./data/restaurants.csv",method="curl")
restData <- read.csv("./data/restaurants.csv")

In [18]:
head(restData, n=3) # Display top 3 rows of the dataframe

  name  zipCode neighborhood councilDistrict policeDistrict
1 410   21206   Frankford    2               NORTHEASTERN
2 1919  21231   Fells Point  1               SOUTHEASTERN
3 SAUTE 21224   Canton       1               SOUTHEASTERN
  Location.1
1 4509 BELAIR ROAD\nBaltimore, MD\n
2 1919 FLEET ST\nBaltimore, MD\n
3 2844 HUDSON ST\nBaltimore, MD\n

In [19]:
tail(restData,n=3) # Display the botton 3 rows of the dataframe

     name             zipCode neighborhood  councilDistrict policeDistrict
1325 ZINK'S CAF\u0090 21213   Belair-Edison 13              NORTHEASTERN
1326 ZISSIMOS BAR     21211   Hampden        7              NORTHERN
1327 ZORBAS           21224   Greektown      2              SOUTHEASTERN
     Location.1
1325 3300 LAWNVIEW AVE\nBaltimore, MD\n
1326 1023 36TH ST\nBaltimore, MD\n
1327 4710 EASTERN Ave\nBaltimore, MD\n

### Make summary
For variables that are quantitative, in this case it's treating zip code as a quantitative variable. It'll tell you the minimum, the first quartile, the median, and so forth. So this has already given us an interesting bit of information because one of the zip codes is actually coded as a negative value, which obviously probably shouldn't have happened.

In [20]:
summary(restData)

                           name         zipCode             neighborhood
 MCDONALD'S                  :   8   Min.   :-21226   Downtown    :128
 POPEYES FAMOUS FRIED CHICKEN:   7   1st Qu.: 21202   Fells Point : 91
 SUBWAY                      :   6   Median : 21218   Inner Harbor: 89
 KENTUCKY FRIED CHICKEN      :   5   Mean   : 21185   Canton      : 81
 BURGER KING                 :   4   3rd Qu.: 21226   Federal Hill: 42
 DUNKIN DONUTS               :   4   Max.   : 21287   Mount Vernon: 33
 (Other)                     :1293                    (Other)     :863
 councilDistrict       policeDistrict                          Location.1
 Min.   : 1.000   SOUTHEASTERN:385    1101 RUSSELL ST\nBaltimore, MD\n:   9
 1st Qu.: 2.000   CENTRAL     :288    201 PRATT ST\nBaltimore, MD\n   :   8
 Median : 9.000   SOUTHERN    :213    2400 BOSTON ST\nBaltimore, MD\n :   8
 Mean   : 7.191   NORTHERN    :157    300 LIGHT ST\nBaltimore, MD\n   :   5
 3rd Qu.:11.000   NORTHEASTERN: 72    300 CHARLES ST\nBaltimore, MD\n :   4
 Max.   :14.000   EASTERN     : 67    301 LIGHT ST\nBaltimore, MD\n   :   4
                  (Other)     :145    (Other)                         :1289

### More in depth information

In [21]:
str(restData) # show the structure of the dataframe

'data.frame':	1327 obs. of  6 variables:
 $ name           : Factor w/ 1277 levels "#1 CHINESE KITCHEN",..: 9 3 992 1 2 4 5 6 7 8 ...
 $ zipCode        : int  21206 21231 21224 21211 21223 21218 21205 21211 21205 21231 ...
 $ neighborhood   : Factor w/ 173 levels "Abell","Arlington",..: 53 52 18 66 104 33 98 133 98 157 ...
 $ councilDistrict: int  2 1 1 14 9 14 13 7 13 1 ...
 $ policeDistrict : Factor w/ 9 levels "CENTRAL","EASTERN",..: 3 6 6 4 8 3 6 4 6 6 ...
 $ Location.1     : Factor w/ 1210 levels "1 BIDDLE ST\nBaltimore, MD\n",..: 835 334 554 755 492 537 505 530 507 569 ...

### Quantiles of quantitative variables

In [22]:
quantile(restData$councilDistrict,na.rm=TRUE)

  0%  25%  50%  75% 100%
   1    2    9   11   14

In [23]:
quantile(restData$councilDistrict,probs=c(0.5,0.75,0.9))

50% 75% 90%
  9  11  12

### Make table

In [24]:
table(restData$zipCode,useNA="ifany") # Making a table of zipcodes
# useNA="ifany" adds another column of NAs if there are any

-21226  21201  21202  21205  21206  21207  21208  21209  21210  21211  21212
     1    136    201     27     30      4      1      8     23     41     28
 21213  21214  21215  21216  21217  21218  21220  21222  21223  21224  21225
    31     17     54     10     32     69      1      7     56    199     19
 21226  21227  21229  21230  21231  21234  21237  21239  21251  21287
    18      4     13    156    127      7      1      3      2      1

In [37]:
head(table(restData$councilDistrict,restData$zipCode)) # Making a 2D table by 
# zipcode (columns) vs district (rows)

    -21226 21201 21202 21205 21206 21207 21208 21209 21210 21211 21212 21213
  1      0     0    37     0     0     0     0     0     0     0     0     2
  2      0     0     0     3    27     0     0     0     0     0     0     0
  3      0     0     0     0     0     0     0     0     0     0     0     2
  4      0     0     0     0     0     0     0     0     0     0    27     0
  5      0     0     0     0     0     3     0     6     0     0     0     0
  6      0     0     0     0     0     0     0     1    19     0     0     0

    21214 21215 21216 21217 21218 21220 21222 21223 21224 21225 21226 21227
  1     0     0     0     0     0     0     7     0   140     1     0     0
  2     0     0     0     0     0     0     0     0    54     0     0     0
  3    17     0     0     0     3     0     0     0     0     0     0     1
  4     0     0     0     0     0     0     0     0     0     0     0     0
  5     0    31     0     0     0     0     0     0     0     0     0     0
  6     0    15     1     0     0     0     0     0     0     0     0     0

    21229 21230 21231 21234 21237 21239 21251 21287
  1     0     1   124     0     0     0     0     0
  2     0     0     0     0     1     0     0     0
  3     0     0     0     7     0     0     2     0
  4     0     0     0     0     0     3     0     0
  5     0     0     0     0     0     0     0     0
  6     0     0     0     0     0     0     0     0

### Check for missing values

In [26]:
sum(is.na(restData$councilDistrict)) # Total # of NAs in councilDistrict

[1] 0

In [27]:
any(is.na(restData$councilDistrict)) # Is there any NAs in councilDistrict?

[1] FALSE

In [28]:
all(restData$zipCode > 0) # Are all the zipcodes > 0?

[1] FALSE

### Row and Column Sums

In [29]:
colSums(is.na(restData)) # Total # of NAs across all the columns

           name         zipCode    neighborhood councilDistrict  policeDistrict
              0               0               0               0               0
     Location.1
              0

In [30]:
all(colSums(is.na(restData))==0) # Do all the columns have ==0 NAs?

[1] TRUE

### Values with specific characteristics

In [32]:
table(restData$zipCode %in% c("21212")) # Are there any zipcodes with the
                                        # value 21212?

FALSE  TRUE
 1299    28

In [33]:
table(restData$zipCode %in% c("21212", "21213"))
# Are there any zipcodes with either value 21212 or 21213?

FALSE  TRUE
 1268    59

In [36]:
head(restData[restData$zipCode %in% c("21212", "21213"),], n=3)
# Show the first 3 rows of the subset of restData that contains the 
# zipcode of 21212 or 21213

   name              zipCode neighborhood              councilDistrict
29 BAY ATLANTIC CLUB 21212   Downtown                  11
39 BERMUDA BAR       21213   Broadway East             12
92 ATWATER'S         21212   Chinquapin Park-Belvedere  4
   policeDistrict Location.1
29 CENTRAL        206 REDWOOD ST\nBaltimore, MD\n
39 EASTERN        1801 NORTH AVE\nBaltimore, MD\n
92 NORTHERN       529 BELVEDERE AVE\nBaltimore, MD\n

### Cross Tabs

In [38]:
data(UCBAdmissions)
DF = as.data.frame(UCBAdmissions)
summary(DF)

      Admit       Gender   Dept       Freq
 Admitted:12   Male  :12   A:4   Min.   :  8.0
 Rejected:12   Female:12   B:4   1st Qu.: 80.0
                           C:4   Median :170.0
                           D:4   Mean   :188.6
                           E:4   3rd Qu.:302.5
                           F:4   Max.   :512.0

In [39]:
xt <- xtabs(Freq ~ Gender + Admit, data=DF)
xt # Show the frequency of admissions of gender

        Admit
Gender   Admitted Rejected
  Male       1198     1493
  Female      557     1278

### Flat Tables

In [44]:
warpbreaks$replicate <- rep(1:9, len=54)
xt = xtabs(breaks ~.,data=warpbreaks)
xt

, , replicate = 1

    tension
wool  L  M  H
   A 26 18 36
   B 27 42 20

, , replicate = 2

    tension
wool  L  M  H
   A 30 21 21
   B 14 26 21

, , replicate = 3

    tension
wool  L  M  H
   A 54 29 24
   B 29 19 24

, , replicate = 4

    tension
wool  L  M  H
   A 25 17 18
   B 19 16 17

, , replicate = 5

    tension
wool  L  M  H
   A 70 12 10
   B 29 39 13

, , replicate = 6

    tension
wool  L  M  H
   A 52 18 43
   B 31 28 15

, , replicate = 7

    tension
wool  L  M  H
   A 51 35 28
   B 41 21 15

, , replicate = 8

    tension
wool  L  M  H
   A 26 30 15
   B 20 39 16

, , replicate = 9

    tension
wool  L  M  H
   A 67 36 26
   B 44 29 28

In [45]:
ftable(xt)

             replicate  1  2  3  4  5  6  7  8  9
wool tension
A    L                 26 30 54 25 70 52 51 26 67
     M                 18 21 29 17 12 18 35 30 36
     H                 36 21 24 18 10 43 28 15 26
B    L                 27 14 29 19 29 31 41 20 44
     M                 42 26 19 16 39 28 21 39 29
     H                 20 21 24 17 13 15 15 16 28

### Size of a data set

In [46]:
fakeData = rnorm(1e5)
object.size(fakeData)

800040 bytes

In [47]:
print(object.size(fakeData),units="Mb")

0.8 Mb

## Creating New Variables
### Why create new variables?

* Often the raw data won't have a value you are looking for
* You will need to transform the data to get the values you would like
* Usually you will add those values to the data frames you are working with
* Common variables to create
    - Missingness indicators
    - "Cutting up" quantitative variables
    - Applying transforms

In [48]:
head(restData,n=3)

  name  zipCode neighborhood councilDistrict policeDistrict
1 410   21206   Frankford    2               NORTHEASTERN
2 1919  21231   Fells Point  1               SOUTHEASTERN
3 SAUTE 21224   Canton       1               SOUTHEASTERN
  Location.1
1 4509 BELAIR ROAD\nBaltimore, MD\n
2 1919 FLEET ST\nBaltimore, MD\n
3 2844 HUDSON ST\nBaltimore, MD\n

### Creating sequences
Sometimes you need an index for your data set

In [49]:
s1 <- seq(1,10,by=2) # Sequence 1 to 10 increasing by 2
s1

[1] 1 3 5 7 9

In [50]:
s2 <- seq(1,10, length=3) # Sequence 1 to 10 with length of 3
s2

[1]  1.0  5.5 10.0

In [51]:
x <- c(1,3,8,25,100); seq(along = x) # Sequence along x

[1] 1 2 3 4 5

### Subsetting variables

In [52]:
restData$nearMe = restData$neighborhood %in% c("Roland Park", "Homeland")
# Add column "nearMe" with neighborhoods of "Roland Park"/"Homeland"
table(restData$nearMe)

FALSE  TRUE
 1314    13

### Creating binary variables

In [53]:
restData$zipWrong = ifelse(restData$zipCode <0, TRUE, FALSE)
table(restData$zipWrong, restData$zipCode < 0)

        FALSE TRUE
  FALSE  1326    0
  TRUE      0    1

### Creating Categorical Variables

In [54]:
restData$zipGroups = cut(restData$zipCode, breaks=quantile(restData$zipCode))
table(restData$zipGroups)

(-2.123e+04,2.12e+04]  (2.12e+04,2.122e+04] (2.122e+04,2.123e+04]
                  337                   375                   282
(2.123e+04,2.129e+04]
                  332

In [55]:
table(restData$zipGroups,restData$zipCode)

                        -21226 21201 21202 21205 21206 21207 21208 21209 21210
  (-2.123e+04,2.12e+04]      0   136   201     0     0     0     0     0     0
  (2.12e+04,2.122e+04]       0     0     0    27    30     4     1     8    23
  (2.122e+04,2.123e+04]      0     0     0     0     0     0     0     0     0
  (2.123e+04,2.129e+04]      0     0     0     0     0     0     0     0     0

                        21211 21212 21213 21214 21215 21216 21217 21218 21220
  (-2.123e+04,2.12e+04]     0     0     0     0     0     0     0     0     0
  (2.12e+04,2.122e+04]     41    28    31    17    54    10    32    69     0
  (2.122e+04,2.123e+04]     0     0     0     0     0     0     0     0     1
  (2.123e+04,2.129e+04]     0     0     0     0     0     0     0     0     0

                        21222 21223 21224 21225 21226 21227 21229 21230 21231
  (-2.123e+04,2.12e+04]     0     0     0     0     0     0     0     0     0
  (2.12e+04,2.122e+04]      0     0     0     0     0     0     0     0     0
  (2.122e+04,2.123e+04]     7    56   199    19     0     0     0     0     0
  (2.123e+04,2.129e+04]     0     0     0     0    18     4    13   156   127

                        21234 21237 21239 21251 21287
  (-2.123e+04,2.12e+04]     0     0     0     0     0
  (2.12e+04,2.122e+04]      0     0     0     0     0
  (2.122e+04,2.123e+04]     0     0     0     0     0
  (2.123e+04,2.129e+04]     7     1     3     2     1

### Easier Cutting

In [56]:
library(Hmisc)
restData$zipGroups = cut2(restData$zipCode, g=4)
table(restData$zipGroups)

ERROR: Error in library(Hmisc): there is no package called ‘Hmisc’

### Creating factor variables

In [57]:
restData$zcf <- factor(restData$zipCode)
restData$zcf[1:10]

 [1] 21206 21231 21224 21211 21223 21218 21205 21211 21205 21231
32 Levels: -21226 21201 21202 21205 21206 21207 21208 21209 21210 ... 21287

In [58]:
class(restData$zcf)

[1] "factor"

### Levels of Factor Variables

In [59]:
yesno <- sample(c("yes","no"),size=10,replace=TRUE)
yesnofac = factor(yesno, levels=c("yes","no"))
relevel(yesnofac,ref="yes")

 [1] no  no  yes yes yes no  yes no  yes no
Levels: yes no

In [60]:
as.numeric(yesnofac)

 [1] 2 2 1 1 1 2 1 2 1 2

### Common Transforms

* abs(x) # absolute value
* sqrt(x)
* ceiling(x) # ceiling(3.47) is 4
* floor(x) # floor(3.47) is 3
* round(x, digits=n) # round(3.475,digits=2) is 3.48
* signif(x, digits=n) # signif(3.475,digits=2) is 3.5
* cos(x), sin(x)
* log(x) # natural log
* log2(x), log10(x) # Common logs
* exp(x) # exponentiating x

## Reshaping Data

### The goal is tidy data

1. Each variable forms a column
2. Each observation forms a row
3. Each table/file stores data about one kind of observation

### Start with reshaping

In [61]:
library(reshape2)
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

### Melting data frames

In [62]:
mtcars$carname <- rownames(mtcars)
carMelt <- melt(mtcars,id=c("carname","gear","cyl"),measure.vars=c("mpg","hp"))
head(carMelt, n=3)

  carname       gear cyl variable value
1 Mazda RX4     4    6   mpg      21.0
2 Mazda RX4 Wag 4    6   mpg      21.0
3 Datsun 710    4    4   mpg      22.8

In [63]:
tail(carMelt, n=3)

   carname       gear cyl variable value
62 Ferrari Dino  5    6   hp       175
63 Maserati Bora 5    8   hp       335
64 Volvo 142E    4    4   hp       109

### Casting data frames

In [64]:
cylData <- dcast(carMelt, cyl ~ variable) # Recast the df from melted data
cylData # Recast the cyl with different variable (mpg/hp)

Aggregation function missing: defaulting to length

  cyl mpg hp
1 4   11  11
2 6    7   7
3 8   14  14

In [65]:
cylData <- dcast(carMelt, cyl ~ variable, mean)
cylData # Recast data with the mean for each value

  cyl mpg      hp
1 4   26.66364  82.63636
2 6   19.74286 122.28571
3 8   15.10000 209.21429

### Averaging Values

In [69]:
tapply(mtcars$mpg, mtcars$hp, sum) 
# Apply along $hp the sum of $mpg

  52   62   65   66   91   93   95   97  105  109  110  113  123  150  175  180
30.4 24.4 33.9 59.7 26.0 22.8 22.8 21.5 18.1 21.4 63.4 30.4 37.0 30.7 57.6 48.9
 205  215  230  245  264  335
10.4 10.4 14.7 27.6 15.8 15.0

In [70]:
spIns = split(mtcars$mpg, mtcars$hp)
spIns

$`52`
[1] 30.4

$`62`
[1] 24.4

$`65`
[1] 33.9

$`66`
[1] 32.4 27.3

$`91`
[1] 26

$`93`
[1] 22.8

$`95`
[1] 22.8

$`97`
[1] 21.5

$`105`
[1] 18.1

$`109`
[1] 21.4

$`110`
[1] 21.0 21.0 21.4

$`113`
[1] 30.4

$`123`
[1] 19.2 17.8

$`150`
[1] 15.5 15.2

$`175`
[1] 18.7 19.2 19.7

$`180`
[1] 16.4 17.3 15.2

$`205`
[1] 10.4

$`215`
[1] 10.4

$`230`
[1] 14.7

$`245`
[1] 14.3 13.3

$`264`
[1] 15.8

$`335`
[1] 15