## Week 3 Quiz
<b>Problem 1</b>

The American Community Survey distributes downloadable data about United States communities. Download the 2006 microdata survey about housing for the state of Idaho using download.file() from here:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv

and load the data into R. The code book, describing the variable names is here:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FPUMSDataDict06.pdf

Create a logical vector that identifies the households on greater than 10 acres who sold more than $10,000 worth of agriculture products. Assign that logical vector to the variable agricultureLogical. Apply the which() function like this to identify the rows of the data frame where the logical vector is TRUE.

which(agricultureLogical)

What are the first 3 values that result?

In [1]:
acsData <- read.csv("./data/acsData.csv")
head(acsData)

  RT SERIALNO DIVISION PUMA REGION ST ADJUST  WGTP NP TYPE ⋯ wgtp71 wgtp72
1 H  186      8        700  4      16 1015675  89  4  1    ⋯  81     27
2 H  306      8        700  4      16 1015675 310  1  1    ⋯ 292    401
3 H  395      8        100  4      16 1015675 106  2  1    ⋯ 123    119
4 H  506      8        700  4      16 1015675 240  4  1    ⋯  68    359
5 H  835      8        800  4      16 1015675 118  4  1    ⋯ 127     36
6 H  989      8        700  4      16 1015675 115  4  1    ⋯ 120     34
  wgtp73 wgtp74 wgtp75 wgtp76 wgtp77 wgtp78 wgtp79 wgtp80
1  93    151     28     79     25    101    157    129
2  81    494    346    496    615    286    454    260
3 168    107     95    101     30    124    106     31
4 385     71    234    421     76     77    242    231
5 119    121    116    209     97    176    144     38
6 109    199    116    110    211    120     31    189

In [2]:
agricultureLogical <- acsData$ACR == 3 & acsData$AGS == 6
head(which(agricultureLogical), 3)

[1] 125 238 262

<b>Problem 2</b>

Using the jpeg package read in the following picture of your instructor into R

https://d396qusza40orc.cloudfront.net/getdata%2Fjeff.jpg

Use the parameter native=TRUE. What are the 30th and 80th quantiles of the resulting data? (some Linux systems may produce an answer 638 different for the 30th quantile)

In [5]:
library(jpeg)

In [10]:
jpgData <- readJPEG("./data/jeffjpg.jpg", native=TRUE)
quantile(jpgData, probs <- c(0.3, 0.8))

      30%       80%
-15259150 -10575416

<b>Problem 3</b>

Load the Gross Domestic Product data for the 190 ranked countries in this data set:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv

Load the educational data from this data set:

https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv

Match the data based on the country shortcode. How many of the IDs match? Sort the data frame in descending order by GDP rank (so United States is last). What is the 13th country in the resulting data frame?

Original data sources:

http://data.worldbank.org/data-catalog/GDP-ranking-table

http://data.worldbank.org/data-catalog/ed-stats

In [12]:
gdpData <- read.csv("./data/gdpData.csv", header = TRUE, skip = 3, sep = ",")
educData <- read.csv("./data/educData.csv", header = TRUE)

In [14]:
library(dplyr)

In [16]:
gdp <- fread("./data/gdpData.csv", skip = 4, nrows = 190, select = c(1, 2, 4, 5), col.names = c("CountryCode", "Rank", "Economy", "Total"))
edu <- fread("./data/educData.csv")

In [18]:
merge <- merge(gdp, edu, by = "CountryCode")

In [19]:
nrow(merge)

[1] 189

In [21]:
arrange(merge, desc(Rank))[13, 'Economy']

[1] "St. Kitts and Nevis"

<b>Problem 4</b>

What is the average GDP ranking for the "High income: OECD" and "High income: nonOECD" group?

In [22]:
tapply(merge$Rank, merge$`Income Group`, mean)

High income: nonOECD    High income: OECD           Low income
            91.91304             32.96667            133.72973
 Lower middle income  Upper middle income
           107.70370             92.13333

<b>Problem 5</b>

Cut the GDP ranking into 5 separate quantile groups. Make a table versus Income.Group. How many countries

are Lower middle income but among the 38 nations with highest GDP?

In [23]:
merge$RankGroups <- cut(merge$Rank, breaks = 5)
table(merge$RankGroups, merge$`Income Group`)

               High income: nonOECD High income: OECD Low income
  (0.811,38.8]                    4                18          0
  (38.8,76.6]                     5                10          1
  (76.6,114]                      8                 1          9
  (114,152]                       4                 1         16
  (152,190]                       2                 0         11

               Lower middle income Upper middle income
  (0.811,38.8]                   5                  11
  (38.8,76.6]                   13                   9
  (76.6,114]                    12                   8
  (114,152]                      8                   8
  (152,190]                     16                   9